build/*.dll
build/*.exe
build/*.cmake
build/Makefile
build/openomf
build/resources/
build/*.txt
build/*.conf
build/CMakeFiles/
build/music/
build/
mingw_build/
*.sw[klmnop]
.idea
.vscode
cmake-build-debug/
cmake-build-release/
.cache
compile_commands.json
__pycache__
*.pyc
test.af
test.bk
test.trn
test.rec


# Freeware game data (download separately from omf2097.com)
openomf-assets.zip
